body {
  margin: 0;
  font-family: Montserrat;
  overflow-x: hidden;
  font-display: fallback;
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 90vh;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 5vw;
}

#particles {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-content {
  padding: 24px;
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
}

.navbar-title {
  margin-left: 24px;
  font-size: 24px;
  font-weight: 800;
}

.wrapper-title {
  font-weight: 800;
  font-size: 4em;
  margin-bottom: 16px;
}

.navbar-logo {
  background-image: url(../img/wexond-shape.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.wrapper-box {
  z-index: 3;
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 64px;
}

.wrapper-info {
  z-index: 2;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 64px;
  margin-top: 128px;
}

.section {
  width: calc(100% - 64px);
  display: flex;
  justify-content: center;
  margin-left: 32px;
  margin-right: 32px;
}

.customization {
  margin-top: 32px;
  border-radius: 8px;
  color: black;
  margin-bottom: 32px;
  display: flex;
  max-width: 1366px;

  & .box {
    min-width: 350px;
    max-width: 350px;
    padding-top: 24px;
    padding-right: 24px;
  }
}

#customization-title {
  font-size: 2em;
}

#customization-desc {
  font-size: 1.2em;
  font-family: Roboto;
  margin-top: 16px;
}

.overline {
  color: #3d5afe;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.2em;
}

.wrapper-screenshot {
  z-index: 1;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transform: translateY(-5vw);
  flex: 1;
  width: calc(100% - 500px);
  right: 32px;
}

.wrapper-description {
  font-family: Roboto;
  font-weight: 400;
  opacity: 0.8;
  font-size: 1.6em;
  max-width: 600px;
}

.card {
  border-radius: 32px;
  padding: 6rem 5rem;
  width: 100%;
  max-width: 1366px;
  display: flex;

  &.card-blue {
    background-image: linear-gradient(to right, #00a6ff, #3d5afe);
  }
}

#download-card {
  align-items: center;
}

#download-card-info {
  color: white;
  flex: 1;
  margin-left: 5rem;
  margin-right: 5rem;
}

#download-card-title {
  font-size: 2rem;
  margin-bottom: 16px;
}

#download-card-desc {
  font-size: 1.2rem;
  font-family: Roboto;
}

#download-card-logo {
  width: 256px;
  filter: invert(100%);
}

.buttons {
  margin-top: 24px;
  display: flex;
}

.white-button {
  background-color: rgba(255, 255, 255, 0.8);
}

.colored-button {
  box-shadow: 0 12px 32px -12px rgba(0, 84, 222, 0.6);
  background-image: linear-gradient(to right, #00a6ff, #3d5afe);
  color: white !important;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.1s opacity;
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  & .button-icon {
    filter: invert(100%);
  }
}

.button {
  position: relative;
  cursor: pointer;
  user-select: none;
  border-radius: 30px;
  padding: 16px 32px;
  font-size: 18px;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  font-family: Roboto;
  margin-left: 16px;
  transition: 0.3s box-shadow, 0.2s background-image, 0.2s background-color;

  div {
    position: relative;
    z-index: 2;
  }
}

.outlined-button {
  @extend .button;
  background-image: none;
  border: 1px solid black;
  transition: 0.1s background-color;
  color: black;

  & .icon-github {
    filter: none;
  }

  &:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.16);

    & .icon-github {
      filter: none;
    }
  }
}

.footer {
  margin-top: 64px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.button-icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: 0.3s filter;
}

.icon-github {
  background-image: url(../img/github.svg);
}

.icon-windows {
  background-image: url(../img/windows.svg);
}

.icon-linux {
  background-image: url(../img/linux.svg);
}

.icon-apple {
  background-image: url(../img/apple.svg);
}

@media screen and (max-width: 1024px) {
  .wrapper-box {
    flex-flow: column;
  }

  .wrapper-screenshot {
    width: auto;
    width: 90%;
    max-width: 600px;
  }

  .wrapper-title {
    font-size: 2em;
  }

  .wrapper {
    &:before {
      right: 0;
    }
  }

  .wrapper-info {
    margin-left: 0;
  }

  .button {
    font-size: 1em;
  }

  #download {
    display: none;
  }

  .wrapper-description {
    margin-left: 0;
    font-size: 1em;
  }
}

@media screen and (max-height: 768px) {
  .wrapper-screenshot {
    max-width: 768px;
  }
}
