body {
  margin: 0;
  font-family: Lato;
  overflow-x: hidden;
  font-display: fallback;
}

.top {
  display: flex;
  background-color: #f4f7fa;

  & .image {
    flex: 3;
  }

  & .info {
    flex: 2;
    padding: 64px;
    margin-top: 64px;

    & .title {
      font-size: 2.75em;
    }

    & .description {
      margin-top: 24px;
      line-height: 1.75rem;
      font-size: 1.05em;
      opacity: 0.87;
    }
  }
}

.content {
  padding: 96px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container {
  width: calc(100% - 64px);
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  border-radius: 6px;
  width: fit-content;
  padding: 16px 24px;
  cursor: pointer;
  transition: 0.1s background-color;
  font-weight: 700;
  font-size: 1.05em;
  display: flex;
  align-items: center;

  &.white {
    background-color: rgba(255, 255, 255, 0.7);

    &:hover {
      background-color: white;
    }
  }

  &.blue {
    box-shadow: 0 2px 15px 0 rgba(129, 150, 160, 0.35);
    background-color: #00b0ff;
    color: white;

    &:hover {
      background-color: #0aa0e6;
    }

    & .icon {
      filter: invert(100%);
    }
  }



  & .icon {
    background-size: 16px;
    background-position: center;
    background-image: url(../img/windows.svg);
    height: 16px;
    width: 16px;
    margin-right: 12px;
  }
}

.wrapper {
  width: 100%;
  margin-top: -10px;
}

.items {
  display: flex;
  padding: 128px;
  padding-top: 96px;
}

.item {
  text-align: center;
  flex: 1;
  margin-left: 64px;
  display: flex;
  flex-flow: column;
  align-items: center;

  &:first-child {
    margin-left: 0;
  }

  & .header {
    color: #00b0ff;
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 16px;
  }

  & .icon {
    background-size: 64px;
    background-position: center;
    height: 64px;
    width: 64px;
    margin-bottom: 24px;

    &.block {
      background-image: url(../img/block.svg);
    }
  }

  & .description {
    font-size: 1.05em;
    line-height: 1.75rem;
    color: rgba(0, 0, 0, 0.7);
  }
}

.wrapper-header {
  font-size: 2.5em;
  font-weight: 700;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background-color: #fafafa;

  & .content {
    padding: 64px;
  }

  & .line {
    background-color: rgba(0, 0, 0, 0.12);
    height: 1px;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  & .sections {
    display: flex;
    width: 100%;
  }

  & .section {
    color: rgba(0, 0, 0, 0.7);
    flex: 1;

    & .section-box {
      margin-top: 24px;
      display: flex;
      flex-flow: column;
    }

    & .header {
      font-weight: 700;
      font-size: 1.2em;
    }

    & .subheading {
      font-weight: 300;
      font-size: 1em;
      margin-bottom: 16px;
    }

    & a {
      color: rgba(0, 0, 0, 0.7);
      text-decoration: none;
      font-size: 1em;
      margin: 0;
      margin-bottom: 12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.gradient {
  width: 100%;
  background-image: linear-gradient(to bottom right,#00b0ff,#3d5afe);
}

